<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Phone Numbers:</b>
	<ul>
		<%= @person.phone_numbers.each do |phone| %>
			<li><%= phone.number %> <%= link_to('edit', edit_phone_number_path(phone)) %> | <%= link_to 'Delete', phone, method: :delete, data: { confirm: 'Are you sure?' } %><li>
		<% end %>
	</ul>
</p>

<p>
	<b>Email Addresses:</b>
	<ul>
		<%= @person.email_addresses.each do |email| %>
			<li><%= email.address %> <%= link_to('edit', edit_email_address_path(email)) %> | <%= link_to 'Delete', email, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Add Phone Number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %> |
<%= link_to 'Add Email Address', new_email_address_path(contact_id: @person.id, contact_type: 'Person') %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
