<div class="person">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>First name:</b>
	  <%= @person.first_name %>
	</p>

	<p>
	  <b>Last name:</b>
	  <%= @person.last_name %>
	</p>

	<p>
		<%= render 'phone_numbers/phone_numbers', phone_numbers: @person.phone_numbers %>
	</p>

	<p>
		<%= render 'email_addresses/email_addresses', email_addresses: @person.email_addresses %>
	</p>
	<ul class="actions">
		<li><%= link_to 'Add Phone Number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %> |</li>
		<li><%= link_to 'Add Email Address', new_email_address_path(contact_id: @person.id, contact_type: 'Person') %> |</li>
		<li><%= link_to 'Edit', edit_person_path(@person) %> |</li>
		<li><%= link_to 'Back', people_path %></li>
	</ul>	
</div>
