<div class="company">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @company.name %>
	</p>

	<p>
		<%= render 'phone_numbers/phone_numbers', phone_numbers: @company.phone_numbers %>
	</p>

	<p>
		<%= render 'email_addresses/email_addresses', email_addresses: @company.email_addresses %>
	</p>

	<ul class="actions">
		<li><%= link_to 'Add Phone Number', new_phone_number_path(contact_id: @company.id, contact_type: 'Company') %> |</li>
		<li><%= link_to 'Add Email Address', new_email_address_path(contact_id: @company.id, contact_type: 'Company') %> |</li>
		<li><%= link_to 'Edit', edit_company_path(@company) %> |</li>
		<li><%= link_to 'Back', companies_path %></li>
	</ul>
</div>




