<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<%= render 'phone_numbers/phone_numbers', phone_numbers: @company.phone_numbers %>

<p>
	<b>Email Addresses:</b>
	<ul>
		<%= @company.email_addresses.each do |email| %>
			<li><%= email.address %> <%= link_to('edit', edit_email_address_path(email)) %> | <%= link_to 'Delete', email, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Add Phone Number', new_phone_number_path(contact_id: @company.id, contact_type: 'Company') %> |
<%= link_to 'Add Email Address', new_email_address_path(contact_id: @company.id, contact_type: 'Company') %> |
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
