<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Phone Numbers:</b>
	<ul>
		<%= @company.phone_numbers.each do |phone| %>
			<li><%= phone.number %> <%= link_to('edit', edit_phone_number_path(phone)) %> | <%= link_to 'Delete', phone, method: :delete, data: { confirm: 'Are you sure?' } %><li>
		<% end %>
	</ul>
</p>

<%= link_to 'Add Phone Number', new_phone_number_path(contact_id: @company.id, contact_type: 'Company') %> |
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
